.level-problem {
    background-color: red;
    color: white;
}

.level-warn {
    background-color: yellow;
}

.level-good {
    background-color: green;
    color: white;
}

.measurement-status-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5%;
    padding-top: 25%;
    text-align: center;
}

.measurement-status-num {
    font-size: 200px;
}

.measurement-status-description {
    font-size: 80px;
}

.not-available-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 25%;
    font-size: 80px;
    text-align: center;
}